.Header {
    display: flex;
    justify-content: center;
    align-items: center;

    /* THIS MAYBE SHOULD MOVE TO GLOBAL? */
    a {
        text-decoration: none;
        color: var(--text);
    }
}

/* AGAIN - THIS MAYBE SHOULD MOVE TO GLOBAL? */
.Logo {
    grid-row-start: 1;
    grid-row-end: 3;

    svg {
        /* SVG Styling */
        display: block;
        fill: var(--text);
        height: 65px;
    }
}